html,body{width:100%;height:100%;padding:0; margin:0;}
.view{width:100%; height:100%; padding:10px;}
ul,li{list-style-type: none; padding: 0; margin: 0;}
*{
    box-sizing: border-box;
  }
.mask{width:100%;height:100%;top:0;left:0;position:fixed;z-index:500;  background:#000; filter:alpha(opacity=70);-moz-opacity:0.7;opacity: 0.7;}
.mt30{margin-top:30px;}
.mt20{margin-top:20px;}
.mt10{margin-top:10px;}
.oarow{}
.clear:after{content:"\20";display:block;height:0;clear:both}
.fl{float:left;}
.fr{float:right;}
.pkprocess{width:100%; height:100px; padding:0 50px; position:relative;}
.pkprocessMain{
    width:100%; 
    height:100px;
    position:relative;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
}
.pkprocessMain .pkstep{
     width:75px;
     display:block;
     text-align:center;
     color:#666;
     font-size:16px;
     color:#666;
     position:relative;
     z-index:10;
 } 
.pkprocessLine{width:95%; height:2px; background:#bfc2ca; margin-top:30px; position: absolute; left:2.5%}
.pkstepicon{width:60px; height:60px; border-radius:30px; background-color:#c0c4cc;border:10px solid #FFF; margin:0 auto;}
.pksteptit{font-size:16px; color:#c0c4cc;}
.pkicon-1{background:url(../../static/img/dot-pkxt-1.png) #c0c4cc no-repeat center;}
.pkicon-2{background:url(../../static/img/dot-pkxt-2.png) #c0c4cc no-repeat center;}
.pkicon-3{background:url(../../static/img/dot-pkxt-3.png) #c0c4cc no-repeat center;}
.pkicon-4{background:url(../../static/img/dot-pkxt-4.png) #c0c4cc no-repeat center;}
.pkicon-5{background:url(../../static/img/dot-pkxt-5.png) #c0c4cc no-repeat center;}
.pkprocessMain .pkstep.activ .pksteptit{font-size:16px; color:#449afc;}
.pkprocessMain .pkstep.activ .pkstepicon{background-color:#449afc;}
.pkprocessMain .pkstep.complete .pksteptit{font-size:16px; color:#606266;}
.pkprocessMain .pkstep.complete .pkstepicon{background-color:#606266;}


.pkleftmenu{width:200px; height:690px; border:1px solid #eaedf4; border-radius:2px; float:left;}
.pkleftmenu .tit{background:#f5f7fa; border-bottom:1px solid #eaedf4; height:40px; line-height:40px; font-size:16px; color:#333; text-indent:20px;}
.pkrightmenu{margin-left:210px; height:690px;}
.pkrightmenu.allright{margin-left: 0px;}
.setKCtime{border:1px solid #eaedf4; float:left; width:100%;}
.setKCtime .tit{background:#f5f7fa; border-bottom:1px solid #eaedf4; height:40px; line-height:40px; font-size:16px; color:#333; text-indent:20px;}
.setKCtime .cont{padding:10px 20px; float:left; width:100%;}
.setKCtime .kcspan{font-size:14px; color:#606266; padding-left:30px;}
.setKCtime .pkset{margin:10px 0;}
.sjd1{background-image:url(../../static/img/dot-pkxt-11-h.png); background-position: 10px center;background-repeat: no-repeat;padding-left: 35px;}
.sjd2{background-image:url(../../static/img/dot-pkxt-12-h.png); background-position: 10px center;background-repeat: no-repeat;padding-left: 35px;}
.KbMain{margin-top:10px; width:100%; height:514px; overflow:auto; float:left;}

.kbinfo{width:100%; border-collapse: collapse; border-radius:2px;}
.kbinfo td,.kbinfo th{border:1px solid #eaedf4; height:50px; line-height:30px; width:10%; text-align:center;}
.kbinfo th{font-size:14px; color:#606266; background:#f5f7fa;}
.layrow{padding:11px 0;}
.layrow>span{ width:90px; display:inline-block; text-align:right; padding-right:10px;}

.kbinfo th.publicTime{background:#fdf6ec; color:#e6a23c; font-size:14px; position:relative;}
.publicTime i{position:absolute; right:17px; top:17px;transition:.2s all; cursor:pointer;}
.publicTime i:hover{transform: rotate(90deg);}
.kcunit{padding:9px;}
.kcunit.nocheck span{width:100%; height:32px; background:#f4f4f4; font-size:14px; color:#959a9d; line-height:30px; border:1px solid #e0e0e0; display:block;}
.kcunit.diff_bj span{width:100%; height:32px; background:#fef0f0; font-size:14px; color:#f66b6b; line-height:30px; border:1px solid #fcd5d5; display:block;}
.kcunit.diff_nj span{width:100%; height:32px; background:#ecf5ff; font-size:14px; color:#449afc; line-height:30px; border:1px solid #c4ddfa; display:block;}
.jcbox{padding:5px 40px;}
.jcbox .jctit{padding-right:10px; width:60px; display:inline-block; text-align:right;}
.kbinfo th .kbtime{color:#449afc;font-weight:normal; margin-left:5px; font-size:12px;}
.kbinfo th.publicTime .kbtime{color:#e6a23c;}
.pkbjtree{padding:10px;}

/**课程设置**/
.kcszMain{overflow:auto; position:relative; width:100%; height:80%;}
.kcsztable{position:absolute; top:0; left:0;border-collapse: collapse; border-radius:2px; width:auto;}
.kcsztable th{background:#f5f7fa;}
.kcsztable th,.kcsztable td{width:350px; height:50px; line-height:50px;border:1px solid #eaedf4; text-align:center; color:#606266; font-size:14px;}
.kcsztable .type_1,.kcsztable .type_2,.kcsztable .type_3{ font-size:14px; height:32px; line-height:30px; padding:0 20px; border-radius:4px; display:inline-block;}
.kcsztable .type_1{background:#eff9ec;color:#63c249; border:1px solid #d3eecc;}
.kcsztable .type_2{background:#f4f4f4;color:#959a9d; border:1px solid #e0e0e1;}
.kcsztable .type_3{background:#fcf6ec;color:#e7a75b; border:1px solid #f7e5cb;}
.kcsztable .stat_1{color:#f66b6b;}
.kcsztable .stat_2{color:#449afc;}
.totalkc{width:100%; height:40px; line-height:40px; color:#449afc; text-align:right;}

/* 教师设置 */
.Bjkbtable{border-collapse: collapse; width:100%;}
.Bjkbtable th{background:#f5f7fa;}
.Bjkbtable th,.Bjkbtable td{width:10px; line-height:50px; height:50px; border:1px solid #eaedf4; text-align:center; color:#606266; font-size:14px;}
.Bjkbtable td{padding:5px;}
.activ .choiceteachIpt{border:1px solid #dbdee5;display:block;}
.choiceteachIpt{width:100%; height:40px; float:left; text-align:left; border:none;border-radius:2px;display:none;}
.choiceteachIpt.activ{border:1px solid #449afc;}
.choiceteachIpt input{display:inline-block; height:28px; line-height:28px; width:70%;border: none;
 outline: none; padding: 0;margin-left: 15px;}
.selectNj{width:100%;}
.selectNj .dr1{background-image:url(../../static/img/dot-pkxt-13-h.png); background-position: 10px center;background-repeat: no-repeat;padding-left: 35px;}
.selectNj .dr2{background-image:url(../../static/img/dot-pkxt-14-h.png); background-position: 10px center;background-repeat: no-repeat;padding-left: 35px;}

/**滚动条样式**/
.kcszMain::-webkit-scrollbar-track {
    background: #eaedf4;
    border-radius: 9px;
}
.kcszMain::-webkit-scrollbar-thumb {
    background: #449afc;
    border-radius: 9px;
}
.kcszMain::-webkit-scrollbar-button {
    display: none;
}
.kcszMain::-webkit-scrollbar {
    height: 18px;
}

.smallscroll::-webkit-scrollbar-track {
    background: #eaedf4;
    border-radius: 2px;
}
.smallscroll::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 2px;
}
.smallscroll::-webkit-scrollbar-button {
    display: none;
}
.smallscroll::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}



/*2.课程规则条件*/
.Kctips{width: 100%; height: 32px; line-height: 32px; background: #fef0f0; border-radius: 2px; float: left; padding-left: 25px; font-size: 14px; color: #f66b6b; position: relative;}
.Kctips.green{width: 100%; height: 32px; line-height: 32px; background: #eff9ec; border-radius: 2px; float: left; padding-left: 25px; font-size: 14px; color: #63c249;  position: relative;}
.Kctips .close{position: absolute; top:0px; right: 25px; cursor: pointer;transition: .1s all;}
.Kctips .close:hover{transform: scale(.9);}
.kcunit.stat_1>span{width: 100%;height: 32px;background: #f4f4f4;font-size: 14px;color: #959a9d;line-height: 30px;border: 1px solid #e0e0e0;display: block; position: relative;}
.kcunit.stat_2>span{width: 100%;height: 32px;background: #ecf5ff;font-size: 14px;color: #449afc;line-height: 30px;border: 1px solid #c4ddfa;display: block; position: relative;}
.kcunit.stat_3>span{width: 100%;height: 32px;background: #fef0f0;font-size: 14px;color: #f66b6b;line-height: 30px;border: 1px solid #fcd5d5;display: block; position: relative;}
.kcunit.unittips::after{content: "设置排课"; text-align: center; line-height:30px; color:#449afc; font-size: 14px;}
.kcunit i.el-icon-close{position: absolute; right: 5px; top:8px; transition: .4s all; cursor: pointer;}
.kcunit i.el-icon-close:hover{transform: rotate(-90deg);}
.kcunit>span:hover{z-index:1;}

.tips{position: absolute; padding: 0 10px; background: #333436; border-radius: 3px; height:34px; line-height: 34px; bottom: -40px; white-space:nowrap; color:#FFF; left: 50%; transform: translateX(-50%); }
.tips::after{content: '\20'; position: fixed; top:-12px; left: 50%; transform:translateX(-50%); width: 0;height: 0;border-width: 6px;border-style: solid;border-color:transparent transparent #333436  transparent;}
.gentable{border-collapse: collapse; width:100%;}
.gentable th{background:#f5f7fa;}
.gentable th,.gentable td{width:300px; line-height:40px; height:50px; border:1px solid #eaedf4; text-align:center; color:#606266; font-size:14px;}
.gentable td{padding:5px;}
.gentable th.xh,.gentable td.xh{width:50px;}

.delRecord{color:#f66b6b !important; cursor: pointer;}

/**教师设置**/
.tcfilter{padding:15px 15px 5px 15px;}
.setcompletion .stat_1{ background:#eff9ec; font-size:14px; color:#63c249; border:1px solid #d3eecc; height:32px; line-height: 32px; padding:0 20px; border-radius:2px; display:inline-block; cursor: pointer; transition:.2s all;}
.setcompletion .stat_1:hover{background:#caf8bc;}
.stepHBbox{width:200px; height:420px; border:1px solid #eaedf4; border-radius:2px; float:left;}
.stepHBbox .tit{background:#f5f7fa; border-bottom:1px solid #eaedf4; height:40px; line-height:40px; font-size:16px; color:#333; text-indent:20px;}
.stepHBbox .stepCont{overflow:auto; height: 378px;}
.arrowLeft{height:420px; width: 100px; float: left; font-size: 50px; color:#606266; text-align: center; line-height: 420px;}
.handleHBbox{width: 150px; float: left; height: 420px;}
.handleHBbox .Hbopt{width:100px; margin: 150px auto;}
.handleHBbox .Hbopt button{float: left; margin: 10px auto;}
.HbResultBox{min-height:420px; overflow: hidden;}

/**规则列表**/
.ruleTips{width:100%; font-size:14px; color:#333; padding:0 5px;}
.mingentable th,.mingentable td{width: 100px;}

/**自动排课结果**/
.autoPkMain{flex: 1;text-align: center;}
.autoPkBtn{margin: 200px auto;}
.autoPkIng{z-index: 999;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);text-align: center;color: #449afc;font-size: 14px;}
.autoPkResult{margin: 200px auto;}
.autoResultInfo{color: #63c249;font-size: 16px;text-align: center;padding: 30px 0;}
.autoResultCondition{width: 520px;border:1px solid #eaedf4;border-radius: 3px;padding: 0 30px;min-height: 100px;}
.Conditions{position: relative;}
.Conditions ul{margin: 5px 0;}
.Conditions li{padding: 5px 0; font-size: 14px; color: #606266;}
.Conditions .ckkb{position: absolute; right: 0; top:50%; transform: translateY(-50%);}
.Conditions .span_red{color: #f66b6b;}
.UnwantedClass{border-top: 1px solid #eaedf4; height: 80px; color: #449afc;font-size: 14px; line-height: 80px;text-decoration:underline; cursor: pointer;}
.againkb{ margin-top: 24px;}
.bjbox{max-height:250px; overflow: auto;}
.UnsatisfiedBox{ width: 100%; max-height:300px; overflow: auto;}
.Unsatisfied li{padding:8px 0; color: #606266; font-size: 14px;}

/**调整课程**/
.statInfoTips{ padding-top:8px;}
.statInfoTips .stattip{padding-left:30px; position: relative; line-height:20px; font-size: 14px; color: #606266; margin-left: 30px; display: inline-block;}
.statInfoTips .stattip.stat_1::after{content:'\20'; position: absolute; width: 20px; height: 20px; background: #63c249; border-radius:2px; top:0; left:0;}
.statInfoTips .stattip.stat_2::after{content:'\20'; position: absolute; width: 20px; height: 20px; background: #eff9ec; border: 1px solid #d3eecc; border-radius:2px; top:0; left:0;}
.statInfoTips .stattip.stat_3::after{content:'\20'; position: absolute; width: 20px; height: 20px; background: #fcf6ec; border: 1px solid #f7e5cb; border-radius:2px; top:0; left:0;}

.tzkcTable td span{cursor: pointer;}
.tzkcTable td>span.stat_1{width: 100%;height: 32px;background: #eff9ec;font-size: 14px;color: #63c249;line-height: 30px;border: 1px solid #d3eecc; border-radius: 2px; display: block; position: relative;}
.tzkcTable td>span.stat_2{width: 100%;height: 32px;background: #fcf6ec;font-size: 14px;color: #e6a23c;line-height: 30px;border: 1px solid #f7e5cb; border-radius: 2px; display: block; position: relative;}
.tzkcTable td>span.stat_3{width: 100%;height: 32px;background: #63c249;font-size: 14px;color: #FFF;line-height: 30px;border: 1px solid #63c249; border-radius: 2px; display: block; position: relative;}
.tzkcTable .zcq>span{width: 18%; margin: 5px 1%; float: left; height: 32px;line-height: 30px;border-radius: 2px; display: block; position: relative;}
.tzkcTable .zcq{line-height: 30px;}
.tzkcTable .zcq>span{background: #FFF;font-size: 14px;color: #606266;border: 1px solid #e0e0e0;}
.tzkcTable .zcq>span.stat_1{background: #eff9ec;font-size: 14px;color: #63c249;border: 1px solid #d3eecc;}
.tzkcTable .zcq>span.stat_2{background: #fcf6ec;font-size: 14px;color: #e6a23c;border: 1px solid #f7e5cb;}
.tzkcTable .zcq>span.stat_3{background: #63c249;font-size: 14px;color: #FFF;border: 1px solid #63c249;}

.tzteachbox{}
.tzteachbox .tzteachtit{font-size: 14px; color:#606266;}
.tzteachbox .tzteachUnit{padding-right:20px;}

/**查看课表**/
.tzkcTable th.publicTime{background:#fdf6ec; color:#e6a23c; font-size:14px; position:relative; line-height:50px;}
.teachKbInfo{font-size: 14px; color: #606266;}
.teachKbInfo span{color: #449afc; text-decoration: underline;}

.sumKBBox{overflow:hidden; position: relative; padding-left:110px;}
.KbBoxScroll{float: left; overflow: auto; white-space: nowrap; width: 100%;}
.kbbcFixed{position: absolute; top:0; left: 0;}
.kbbcFixed table{border-collapse: collapse; width:110px;}
.kbbcFixed table td{background:#f5f7fa; width:110px; vertical-align: middle; height:50px; border:1px solid #eaedf4; font-weight: bold; text-align:center; color:#606266; font-size:14px;}
.zkbtable{border-collapse: collapse; margin-left: -1px; margin-right:20px;}
.zkbtable th{background:#f5f7fa;}
.zkbtable th,.zkbtable td{width:110px; vertical-align: middle; height:50px; border:1px solid #eaedf4; text-align:center; color:#606266; font-size:14px;}

.kbzl_mzl{font-size: 18px; color:#303133; font-weight: bold;}
.kbzl_mz_info{color: #606266; font-size: 14px; line-height: 24px;}
.kbzl_mz_info .mz{color: #449afc;}
.kbzl_mz_info .bmz{color: #f66b6b;}
.kbExplain{border-top: 1px solid #e0e0e0; font-size: 14px; color:#303133; padding-top: 20px;}
.kbExplain .kbExplain_tit{font-weight: bold;}
.kbExplain .kbExplain_cont{line-height: 34px;}

